.filter {
   align-items: center;
   display: flex;
   justify-content: center;
}

.h1h2 h1 {
   background:
      linear-gradient(45deg,
         transparent 43%, rgb(246, 188, 0, .8) 70%, transparent 95%),
      linear-gradient(90deg,
         transparent 70%, rgb(246, 188, 0, .8) 80%,
         rgb(246, 188, 0, .8) 94%, transparent 95%);
   font: bold 3vw 'main';
   margin: 3vw 0 0;
   text-align: center;
   text-transform: uppercase;
}

.h1h2 h2 {
   font: 1.5vw 'main';
   letter-spacing: 3px;
   margin: 0 0 3vw;
   text-align: center;
   text-transform: lowercase;
}

@media (orientation: portrait) {
   .h1h2 {
      margin: 3vw 0 0;
   }

   .h1h2 h1 {
      font: bold 6vw 'main';
   }
   
   .h1h2 h2 {
      font: 5vw 'main';
      letter-spacing: .07vw;
   }
}