@keyframes mainBg {
   from {
      opacity: 0;
   }
  
   to {
      opacity: 1;
   }
}

@keyframes mainBgClose {
   from {
      opacity: 1;
   }
  
   to {
      opacity: 0;
   }
}

@keyframes mainBgCloseSend {
   0% {
      opacity: 1;
   }

   66% {
      opacity: 1;
   }
  
   100% {
      opacity: 0;
   }
}

.answerNo {
   display: none;
}

.answerOk {
   align-items: center;
   border-radius: 3px;
   display: flex;
   flex-flow: column;
   justify-content: center;
   position: absolute;
   background: white;
   width: 100%;
}

.answerSend {
   composes: answerOk;
   font: 3vw 'main';
   height: 100%;
   z-index: 2;
}

.answerWarning {
   composes: answerOk;
   color: rgb(220, 0, 0);
   font: bold 2vw 'main';
   height: 10vw;
}

.mainBg {
   align-items: center;
   animation: mainBg .4s;
   backdrop-filter: blur(2px) grayscale(1);
   background: rgb(211, 211, 211, .5);
   display: flex;
   justify-content: center;
   height: 100vh;
   position: fixed;
   width: 100vw;
   z-index: 10; 
}

.mainBgClose {
   composes: mainBg;
   animation: mainBgClose .4s;
   opacity: 0;
}

.mainBgCloseSend {
   composes: mainBg;
   animation: mainBgCloseSend 3s;
   opacity: 0;
}

.main {
   background: white;
   box-shadow: 0 0 2vw darkgrey;
   display: flex;
   flex-flow: column;
   height: 30vw;
   margin: 6vw 6vw 0 0;
   position: relative;
   width: 70%;
}

.h1h2 {
   display: flex;
   flex-flow: wrap;
   justify-content: center;
   margin: 2vw 0;
}

.h1h2 h1 {
   font: bold 2.5vw 'main';
   text-align: center;
   text-transform: uppercase;
   width: 100%;
}

.h1h2 h2 {
   font: 1.5vw 'main';
   letter-spacing: 3px;
}

.inputs {
   align-items: center;
   display: flex;
   flex-flow: column;
   justify-content: center;
   height: 50%;
   margin: 2vw 0 0;
}

.inputs > input {
   border: none;
   border-bottom: 1px solid darkslategray;
   margin: 1vw 0 0;
   text-align: center;
   width: 40vw;
}

.inputs > input:last-child {
   background: rgb(254 245 206);
   border: 1px solid darkslategray;
   border-radius: 3px;
   box-shadow: 1px 1px white, 2px 3px grey;
}

@media (hover: hover) and (pointer: fine) {
   .inputs > input:last-child:hover {
      background: var(--mainBgColor);
      box-shadow: 1px 2px white, 2px 4px grey;
      font-weight: bold;
      transform: scale(1.02);
   }
}

.inputs > input::placeholder {
   padding: 0 0 0 1vw;
   text-align: left;
}

.inputs > div {
   align-items: center;
   display: flex;
   justify-content: center;
   margin: 2vw 0 1vw;
   width: 40vw;
}

.inputs > div input {
   height: 1.5vw;
   margin: 0 1.5vw 0 0;
   width: 1.5vw;
}

@media (orientation: portrait) {   
   .answerSend {
      font: 6vw 'main';
   }
   
   .answerWarning {
      font: 5vw 'main';
      height: 40vw;
      top: 0;
   }
   
   .main {
      box-shadow: 0 0 5vw darkgrey;
      justify-content: space-evenly;
      height: 50vh;
      margin: 10vw 0 0;
      width: 80%;
   }
   
   .h1h2 {
      margin: 4vw 0;
   }
   
   .h1h2 h1 {
      font: bold 6vw 'main';
   }
   
   .h1h2 h2 {
      font: 5vw 'main';
      letter-spacing: .07vw;
      margin: 4vw 4vw 0;
      text-align: center;
   }

   .inputs {
      height: 60%;
   }
   
   .inputs > input {
      margin: 5vw 0 0;
      width: 90%;
   }
   
   .inputs > input::placeholder {
      padding: 0 0 0 1vw;
      text-align: left;
   }
   
   .inputs > div {
      margin: 5vw 0 2vw;
      width: 90%;
   }
   
   .inputs > div input {
      height: 8vw;
      margin: 1vw 5vw 0 0;
      width: 8vw;
   }

   .inputs > div span {
      line-height: 5vw;
      width: 55%;
   }

   .inputs > input:last-child {
      margin: 5vw 0;
   }
}