@keyframes main {
   from {
      opacity: 0;
   }
  
   to {
      opacity: 1;
   }
}

@keyframes mainClose {
   from {
      opacity: 1;
   }
  
   to {
      opacity: 0;
   }
}

.main {
   align-items: center;
   animation: main .5s;
   backdrop-filter: blur(2px) grayscale(1);
   background: rgba(211, 211, 211, .5);
   display: flex;
   height: 100vh;
   padding: 7% 12%;
   position: fixed;
   width: 100vw;
   z-index: 11;
}

.mainClose {
   composes: main;
   animation: mainClose .5s;
   opacity: 0;
}

.bg {
   background: white;
   box-shadow: 0 0 2vw darkgrey;
   height: 33vw;
   margin: 6vw 6vw 0 0;
   position: relative;
   width: 100%;
}

@media (orientation: portrait) {
   .main {
      backdrop-filter: none;
      background: none;
      height: calc(100vh - 20vw);
      padding: 0;
      top: 20vw;
   }
   
   .bg {
      box-shadow: none;
      display: flex;
      flex-flow: column;
      height: 100%;
      margin: 0;
      padding: 0;
   }
}