#lotCard {
   align-items: center;
   display: flex;
   flex-flow: column;
   margin: 0 0 2.5vw 2.5vw;
   width: 89%;
}

#h1AndDateUpdate {
   align-items: baseline;
   display: flex;
   margin: 3vw 0;
}

#h1AndDateUpdate h1 {
   font: bold 2.5vw 'main';
   padding: 0 2vw 0;
   text-transform: uppercase;
}

#lotCardMainInfo {
   display: flex;
   justify-content: space-between;
   height: 7vw;
   width: 100%;
}

#lcmiImg {
   width: 10.5%;
}

.itemDiv {
   display: flex;
   flex-flow: column;
   justify-content: space-evenly;
   padding: 0 0 0 2vw;
}

.itemDivImg {
   background:
      url('../../img/logoLightGrey.svg')
      no-repeat center/50%;
   border: 1px solid lightgray;
   border-radius: 3px 0 0 3px;
   padding: 0;
}

.itemDivImg img {
   border-radius: 3px 0 0 3px;
}

.itemDivLot {
   width: 17%;
}

.itemDivLot {
   border-bottom: 1px solid lightgray;
   border-top: 1px solid lightgray;
}

.itemDivMarka {
   border-bottom: 1px solid lightgray;
   border-top: 1px solid lightgray;
   width: 23%;
}

.itemDivMarka > p:nth-child(2) {
   font-weight: bold;
}

.itemDivYear {
   border-bottom: 1px solid lightgray;
   border-top: 1px solid lightgray;
   width: 20%;
}

.itemDivCost {
   border-bottom: 1px solid lightgray;
   border-top: 1px solid lightgray;
   width: 20%;
}

.itemDivRating {
   align-items: center;
   border-bottom: 1px solid lightgray;
   border-radius: 0px 3px 3px 0px;
   border-right: 1px solid lightgray;
   border-top: 1px solid lightgray;
   justify-content: center;
   padding: 0;
   width: 7%;
}

#descriptionCost {
   margin: 3vw 0;
   text-align: center;
}

#lotCardDetails {
   align-items: center;
   border: 1px solid lightgray;
   border-radius: 3px;
   display: flex;
   flex-flow: column;
   padding: 1vw .5vw .5vw;
   width: 100%;
}

#lcdRating {
   text-align: center;
   width: 100%;
}

#descriptionRecycle {
   display: flex;
   flex-flow: wrap;
   justify-content: space-evenly;
   margin: 0;
   width: 100%;
}

#descriptionRating {
   background: rgb(250, 250, 250);
   border-radius: 3px;
   display: flex;
   justify-content: space-around;
}

#lcdComments {
   display: flex;
   justify-content: space-around;
   margin: 2vw 0 0;
   width: 100%;
}

#lcdComments > div {
   text-align: center;
   width: 47%;
}

#descriptionComment {
   display: flex;
   justify-content: space-evenly;
   padding: 2vw 0 0;
}

#descriptionRecycle > div {
   width: 45%;
}

.lcdMainImgs {
   display: flex;
   flex-flow: wrap;
   justify-content: space-around;
   padding: 2vw 0 0;
   width: 100%;
}

.mainImgsWrap {
   width: 20%;
}

.mainImgsWrapRecycle {
   width: 11.1%;
}

.lcdMainImgs img {
   cursor: zoom-in;
   opacity: 0;
   outline: 5px solid white;
   outline-offset: -4px;
   transition: opacity 1s linear;
}

.lcdMainImgs div[data-video1],
.lcdMainImgs div[data-video2] {
   cursor: initial;
   text-align: center;
   width: 20%;
}

.lcdMainImgs div video {
   cursor: initial;
   height: 10vw;
   opacity: 0;
   transition: opacity 1s linear;
   width: 96%;
}

#lcdInfoRate {
   padding: 0 5px;
   width: 100%;
}

.lcdInfoRateEmpty {
   display: flex;
   flex-flow: wrap;
   justify-content: space-between;
   padding: 0 5px;
   width: 100%;
}

.lcdirDiv {
   padding: 2vw 0;
}

.lcdirDivEmpty {
   padding: 2vw 0;
   width: 49%;
}

.lcdirdName {
   background: rgb(250, 250, 250);
   border-radius: 3px 3px 0 0;
   border-bottom: 1px solid lightgray;
}

.lcdirdComments {
   display: inline-block;
   width: 50%;
}

.lcdirdCommentsEmpty {
   display: inline-block;
   width: 100%;
}

.lcdirdComments > div {
   border-bottom: 1px solid rgb(245, 245, 245);
   display: flex;
   width: 100%;
}

.lcdirdComments > div > p:first-child {
   background: rgb(250, 250, 250);
   overflow-wrap: anywhere;
   padding: 0 0 0 1vw;
   width: 30%;
}

.lcdirdComments > div > p:nth-child(2) {
   overflow-wrap: anywhere;
   padding: 0 0 0 1vw;
   width: 70%;
}

.lcdirdImgs {
   display: inline-block;
   vertical-align: top;
   width: 50%;
}

.infoImgsWrap {
   display: inline-block;
   width: 25%;
}

.infoImgsWrap > img {
   cursor: zoom-in;
   opacity: 0;
   outline: 3px solid white;
   outline-offset: -2px;
   transition: opacity 1s linear;
}

@media (orientation: portrait) {
   #lotCard {
      margin: 0;
      padding: 1vw;
      width: 100vw;
   }

   #lotCard #h1AndDateUpdate {
      align-items: center;
      flex-flow: column;
      margin: 0;
   }

   #lotCard #h1AndDateUpdate H1 {
      font: bold 6vw 'main';
      padding: 3vw 0 0;
   }

   #lotCard #lotCardMainInfo {
      flex-flow: wrap;
      height: auto;
      margin: 5vw 0 0;
   }

   #lotCard #lcmiImg {
      display: none;
   }

   #lotCard .itemDivLot {
      border: unset;
      flex-flow: unset;
      justify-content: space-between;
      padding: 8vw 0 1vw;
      order: 1;
      text-align: center;
      width: 100%;
   }

   #lotCard .itemDivLot p:nth-child(1) {
      margin: 0 0 0 3vw;
   }

   #lotCard .itemDivLot p:nth-child(2) {
      margin: 0 3vw 0 0;
   }      

   #lotCard .itemDivMarka {
      align-items: center;
      background: rgb(250, 250, 250);
      border-radius: 10px;
      margin: auto;
      order: 2;
      padding: 5vw 0 2vw;
      width: 96%;
   }

   #lotCard .itemDivMarka > p:nth-child(1) {
      font-weight: bold;
   }
   
   #lotCard .itemDivMarka > p:nth-child(2) {
      font-weight: unset;
   }

   #lotCard .itemDivYear {
      border: unset;
      flex-flow: row;
      justify-content: space-around;
      margin: auto;
      order: 3;
      padding: 3vw 0;
      text-align: center;
      width: 96%;
   }

   #lotCard .itemDivYear > p {
      width: 25%;
   }

   #lotCard .itemDivYear > p:nth-child(1) {
      width: 18%;
   }

   #lotCard .itemDivYear > p:nth-child(4) {
      width: 32%;
   }
   
   #lotCard .itemDivCost {
      background: rgb(250, 250, 250);
      border-bottom: none;
      border-radius: 10px 10px 0 0;
      flex-flow: row wrap;
      justify-content: space-around;
      margin: 0 auto;
      order: 5;
      padding: 5vw 0;
      text-align: center;
      width: 96%;
   }

   #lotCard .itemDivCost p:nth-child(1) {
      width: 32%;
   }

   #lotCard .itemDivCost p:nth-child(2) {
      font-weight: bold;
      width: 36%;
   }

   #lotCard .itemDivCost p:nth-child(3) {
      width: 32%;
   }

   .lcdInfoRateEmpty {
      width: 98%;
   }

   #lotCard .itemDivRating {
      border: unset;
      margin: 2vw 0 0;
      order: 4;
      position: absolute;
      width: 98vw;
   }

   .lcdirDivEmpty {
      width: 100%;
   }

   #lotCard .itemDivRating p:nth-child(1) {
      margin: 0 0 1vw;
   }

   #lotCard .itemDivRating p:nth-child(2) {
      display: none;
   }

   #lotCard .itemDivRating p:nth-child(3) {
      background: rgb(250 250 250);
      border: 1px solid lightgrey;
      border-radius: 5px;
      box-shadow: 5px 0 0 5px white, -5px 0 0 5px white;
      font: bold 7vw 'main';
      height: 9vw;
      line-height: 8.5vw;
      text-align: center;
      width: 12vw;
   }

   #lotCard .itemDivRating p[data-norate] {
      color: darkred;
      font-weight: bold;
      margin: -7vw 0 0;
      text-align: center;
      width: 96%;
   }

   #lotCard #descriptionCost {
      background: rgb(250, 250, 250);
      border-bottom: 1px solid lightgrey;
      border-radius: 0 0 10px 10px;
      margin: 0 auto 5vw;
      padding: 0 0 5vw;
      width: 96%;
   }

   #lotCard #descriptionCost p {
      padding: 2vw 0 0;
   }

   #lotCard #lotCardDetails {
      border: unset;
      margin: 5vw 0 0;
      padding: unset;
   }

   #lotCard #lcdRating {
      border-top: 1px solid lightgrey;
      border-radius: 10px 10px 0 0;
      padding: 2vw 0 1vw;
      width: 96%;
   }

   #lotCard #descriptionRating {
      background: unset;
      justify-content: space-around;
   }

   #lotCard .lcdMainImgs {
      padding: 0;
   }

   .mainImgsWrap {
      width: 98%;
   }

   .mainImgsWrapRecycle {
      width: 98%;
   }

   #lotCard .lcdMainImgs div[data-video2] {
      display: none;
   }

   #lotCard .lcdMainImgs div[data-video1] {
      margin: 5vw 0 0;
      order: 10;
      width: 99%;
   }

   .lcdMainImgs div video {
      height: unset;
      width: 98%;
   }

   #lotCard #lcdComments {
      align-items: center;
      flex-flow: column;
      margin: 5vw 0;
      width: 96%;
   }

   #lotCard #lcdComments > div {
      text-align: right;
      width: 97%;
   }

   #lotCard #lcdComments > div span:first-child {
      display: block;
      text-align: left;
   }

   #lotCard #lcdInfoRate {
      margin: 5vw 0 0;
      padding: 0;
      width: 96%;
   }

   #lotCard .lcdirDiv {
      padding: 5vw 0;
   }

   #lotCard .lcdirdName {
      font: bold 5vw 'main';
      letter-spacing: 2px;
   }

   #lotCard .lcdirdComments {
      width: 100%;
   }

   .lcdirdComments > div > p:first-child {
      padding: 1vw 0 1vw 3vw;
      width: 45%;
   }

   .lcdirdImgs {
      width: 100%;
   }

   .infoImgsWrap {
      width: 50%;
   }
}