.button {
   align-items: center;
   background: rgba(250, 250, 250);
   border: 1px solid;
   border-radius: 3px;
   cursor: pointer;
   display: flex;
   justify-content: center;
   height: 2.4vw;
}

:global .buttonActive {
   background: var(--mainBgColor);
   font-weight: bold;
}

@media (hover) {
   .button:hover {
      font-weight: bold;
      transform: scale(1.05);
   }

   .home:hover {
      background: rgba(240, 240, 240);
      font-weight: bold;
      transform: scale(1.05);
   }
}

.brand {
   composes: button;
   text-transform: uppercase;
   width: 32%;
}

.brandActive {
   composes: brand;
   background: var(--mainBgColor);
   font-weight: bold;
}

.engine {
   composes: button;
   text-decoration: none;
   width: 70%;
}

.engineActive {
   composes: engine;
   background: var(--mainBgColor);
   font-weight: bold;
}

.engineLeft {
   composes: engine;
   background: linear-gradient(90deg, var(--mainBgColor) 20%, rgb(250, 250, 250) 55%);
   font-weight: bold;
}

.engineRight {
   composes: engine;
   background: linear-gradient(90deg, rgb(250, 250, 250) 45%, var(--mainBgColor) 80%);
   font-weight: bold;
}

.home {
   composes: button;
   background: rgba(250, 250, 250);
   margin: 0 1vw 0 0;
   transition: font .2s;
   width: 15vw;
}

:global .modelActive {
   padding: 0 10px 0 30px !important;
   position: sticky;
   top: 3px;
   width: max-content !important;
   width: 45% !important;
}

@media (orientation: portrait) {
   .button {
      font: 6vw 'main';
      height: 10vw;
   }
   
   .buttonActive {
      background: var(--mainBgColor);
      font-weight: bold;
   }
   
   .brand {
      margin: 1vw 0;
      text-transform: uppercase;
      width: 32%;
   }
   
   .engine {
      margin: 1vw 0;
      width: 32%;
   }
   
   .home {
      margin: 5vw 0;
      width: 40%;
   }

   :global .modelActive {
      padding: 0 10px 0 30px !important;
      position: sticky;
      top: 3px;
      width: max-content !important;
      width: 45% !important;
   }
}

