.h1h2 h1 {
   background:
      linear-gradient(45deg,
         transparent 43%, rgb(246, 188, 0, .8) 70%, transparent 95%),
      linear-gradient(90deg,
         transparent 70%, rgb(246, 188, 0, .8) 80%,
         rgb(246, 188, 0, .8) 94%, transparent 95%);
   font: bold 3vw 'main';
   margin: 3vw 0 0;
   text-align: center;
   text-transform: uppercase;
}

.main {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   height: calc(100vh - 20vw);
}

.p {
   font: 2vw 'main';
   margin: 1vw 0;
}